body{
    background-image: url("img/bg.png");
    background-repeat: repeat;
    color: #303840;
    font-family: "Trebuchet MS";
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;  
    padding: 0;
}

.lgDiv{
    position: relative;
    width: 350px;
    margin: 15px 3px;
    border: 5px solid #8a9696;
    border-radius: 6px;
    background-color: #727c8f;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: fit-content;
    margin-top: 10%;
}

.form{
    display: flex;
    justify-content: center;
}
