body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;  
    padding: 0;
}

.mainButton{
    width: 100px;
    background-color: #788282;
    border: 2px solid #707e78;
}

.mainButton:hover{
    background-color: #abc7b6;
    border: 2px solid #5d6661;
}

.mainButton[selected="true"] {
    background-color: #abc7b6;
    border: 2px solid #54555c;
    font-weight: bold;
}

.dashboardPage{
    margin-top: 20px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    width: 45%;
    min-width: fit-content;
    height: fit-content;
}

.headerText{
    position: relative;
    padding: 5px;
    color: #3f474f;
    font-size: 24px;
    width: fit-content;
    margin-left: 10px;
    font-weight: bold;
}

.rowDiv{
    display: flex;
    flex-direction: row;    
    border: 3px dashed #8a9696;
    border-radius: 3px;
    height: fit-content;
    justify-content: center;
    margin: 15px;
}

.mainDivCol,
.mainDivRow{
    position: relative;
    width: 99%;
    margin: 15px 3px;
    border: 5px solid rgb(31, 31, 31);
    border-radius: 6px;
    background-color: #6f7773;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
}

.mainDivCol{
    flex-direction: column;
    justify-content: left;
}

.chart{
    width: 850px;
    height: 400px;
    margin: 15px;
    margin-top: 0px;
    border: 5px solid #8a9696;
    border-radius: 6px;
    background-color: #6f7773;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.1);
}