
:root {
    --fish-size: 250px;
}

.winners,
.fotwDiv{
    background-image: url('img/fish_bg.png');
    margin-top: 20px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    width: 40%;
    min-width: 650px;
    height: fit-content;
    justify-content: center;
    border: 5px solid rgb(17, 17, 17);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    align-items: center;
}

.winners{
    background: rgba(42, 86, 110, 1);
}

@media (width > 1600px) {
    .winners {
        width: 55vw;
        max-width: 55vw;
        min-width: unset;
    }
    :root {
        --fish-size: max(
            100vw / round(down, max(1, 100vw / 250px), 1), 
            250px
        );
    }
}

.mainDiv{
    position: relative;
    width: 99%;
    margin-top: 12px;
    margin-bottom: 12px;
    border: 5px solid rgb(31, 31, 31);
    border-radius: 6px;
    background-color: #6f7773;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
}

.fish_box{
    max-width: 100%;
    width: 98%;
    display: grid;
    grid-template-rows: repeat(auto-fill, var(--fish-size));
    grid-template-columns: repeat(auto-fill, var(--fish-size));
    gap: 20px;
    margin: 15px;
    height: fit-content;
    justify-content: space-evenly; 
}

.small_fish{
    min-width: 250px;
    min-height: 250px;
    width: var(--fish-size);
    height: var(--fish-size);
    border: 5px solid #727c8f;
    border-radius: 3px;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.1);
}

.small_fish.selected{
    border: 5px solid rgba(212, 175, 55, 1);
}
.small_fish:hover{
    border: 5px solid rgba(191, 155, 48, 1);
}