
body{
    background-image: url("img/bg.png");
    background-repeat: repeat;
    color: #303840;
    font-family: "Trebuchet MS";
}

h2{
    position: relative;
    padding: 15px;
    color: #3f474f;
    font-size: 48px;
    margin: 5px 5px;
    border: 3px dashed #8a9696;
    border-radius: 3px;
}

.headerDiv{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    margin: 0px 0px;
    background-color: #727c8f;
    border-bottom: 3px solid #4f5666;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icoButton{
    position: relative;
    float: right;
    color: #3f474f;
    background: transparent;
    border: none;
    margin: 5px 0px;
    padding: 4px;
    cursor: pointer;
    z-index: 1000;
    font-family: "Trebuchet MS";
}

.icoButton:hover {
    color: #92b6db;
}

.mainDiv{
    position: relative;
    width: 99%;
    margin: 15px 3px;
    border: 5px solid #8a9696;
    border-radius: 6px;
    background-color: #788282;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mainText{
    position: relative;
    padding: 5px;
    color: #cdcfd4;
    font-size: 24px;
}

.mainButton{
    position: relative;
    float: left;
    color: #3f474f;
    border: 2px solid #8ea3bd;
    border-radius: 3px;
    background-color: #9facbd;
    margin: 5px 10px;
    padding: 4px;
    cursor: pointer;
    z-index: 1000;
    font-family: "Trebuchet MS";
}

.mainTextInp{
    position: relative;
    font-family: "Trebuchet MS";
    font-size: 16px;
    color: #303840;
    background-color: #c3ccd4;
    padding: 4px;
    border: 2px solid #8d8e91;
    border-radius: 5px;
}

