<!DOCTYPE html>
<title>Login</title>
<body>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mainPage.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/authPage.css') }}" />
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/authPage.js') }}"></script>
    <div class="lgDiv">
        <h2><b>Login:</b></h2>

        <form action = "/auth_page" method = "POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <p class="mainText">Username:
                <label><input class="mainTextInp" type="text" name="Username" required /></label>
            </p>
            <p class="mainText">Password:
                <label><input class="mainTextInp" type="password" name="Password" required /></label>
            </p>
            <input class="mainButton" type="submit" value="Submit" />
        </form>

        <form action="/">
            <button class="mainButton" id="back" type="submit">Back</button>
        </form>

    </div>
</body>
